openapi: 3.1.0
info:
  title: TimeLock API
  description: Create digital time capsules that stay locked until a specific UTC
    date. Each capsule receives a public open link and a QR code.
  version: 1.0.0
servers:
- url: https://timelock-prod-e97238-api.proudforest-ff150a20.centralus.azurecontainerapps.io
  description: Azure production
- url: https://c3pdp2eik3.us-east-1.awsapprunner.com
  description: AWS production
- url: http://localhost:8000
  description: Local development
paths:
  /health:
    get:
      tags:
      - system
      summary: Health
      operationId: health_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /capsules:
    get:
      tags:
      - capsules
      summary: List Capsules
      operationId: list_capsules_capsules_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CapsuleRead'
                type: array
                title: Response List Capsules Capsules Get
    post:
      tags:
      - capsules
      summary: Create Capsule
      operationId: create_capsule_capsules_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapsuleCreate'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapsuleCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /capsules/{capsule_id}:
    get:
      tags:
      - capsules
      summary: Read Capsule
      operationId: read_capsule_capsules__capsule_id__get
      parameters:
      - name: capsule_id
        in: path
        required: true
        schema:
          type: integer
          title: Capsule Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapsuleRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - capsules
      summary: Update Capsule
      operationId: update_capsule_capsules__capsule_id__put
      parameters:
      - name: capsule_id
        in: path
        required: true
        schema:
          type: integer
          title: Capsule Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapsuleUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapsuleRead'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - capsules
      summary: Delete Capsule
      operationId: delete_capsule_capsules__capsule_id__delete
      parameters:
      - name: capsule_id
        in: path
        required: true
        schema:
          type: integer
          title: Capsule Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /capsules/{capsule_id}/qr:
    get:
      tags:
      - capsules
      summary: Read Capsule Qr
      operationId: read_capsule_qr_capsules__capsule_id__qr_get
      parameters:
      - name: capsule_id
        in: path
        required: true
        schema:
          type: integer
          title: Capsule Id
      responses:
        '200':
          description: Successful Response
          content:
            image/png: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /open/{public_code}:
    get:
      tags:
      - public
      summary: Open Capsule
      operationId: open_capsule_open__public_code__get
      parameters:
      - name: public_code
        in: path
        required: true
        schema:
          type: string
          title: Public Code
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/LockedCapsuleResponse'
                - $ref: '#/components/schemas/UnlockedCapsuleResponse'
                title: Response Open Capsule Open  Public Code  Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    CapsuleCreate:
      properties:
        title:
          type: string
          maxLength: 120
          minLength: 1
          title: Title
        content:
          type: string
          minLength: 1
          title: Content
        unlockAt:
          type: string
          format: date-time
          title: Unlockat
      type: object
      required:
      - title
      - content
      - unlockAt
      title: CapsuleCreate
    CapsuleCreateResponse:
      properties:
        id:
          type: integer
          title: Id
        publicCode:
          type: string
          title: Publiccode
        openUrl:
          type: string
          title: Openurl
        qrUrl:
          type: string
          title: Qrurl
      type: object
      required:
      - id
      - publicCode
      - openUrl
      - qrUrl
      title: CapsuleCreateResponse
    CapsuleRead:
      properties:
        id:
          type: integer
          title: Id
        title:
          type: string
          title: Title
        content:
          type: string
          title: Content
        unlockAt:
          type: string
          title: Unlockat
        publicCode:
          type: string
          title: Publiccode
        isDeleted:
          type: boolean
          title: Isdeleted
        createdAt:
          type: string
          title: Createdat
      type: object
      required:
      - id
      - title
      - content
      - unlockAt
      - publicCode
      - isDeleted
      - createdAt
      title: CapsuleRead
    CapsuleUpdate:
      properties:
        title:
          anyOf:
          - type: string
            maxLength: 120
            minLength: 1
          - type: 'null'
          title: Title
        content:
          anyOf:
          - type: string
            minLength: 1
          - type: 'null'
          title: Content
        unlockAt:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Unlockat
      type: object
      title: CapsuleUpdate
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HealthResponse:
      properties:
        status:
          type: string
          title: Status
        database:
          type: string
          title: Database
      type: object
      required:
      - status
      - database
      title: HealthResponse
    LockedCapsuleResponse:
      properties:
        status:
          type: string
          const: locked
          title: Status
          default: locked
        message:
          type: string
          title: Message
        unlockAt:
          type: string
          title: Unlockat
      type: object
      required:
      - message
      - unlockAt
      title: LockedCapsuleResponse
    UnlockedCapsuleResponse:
      properties:
        status:
          type: string
          const: unlocked
          title: Status
          default: unlocked
        title:
          type: string
          title: Title
        content:
          type: string
          title: Content
        publicCode:
          type: string
          title: Publiccode
      type: object
      required:
      - title
      - content
      - publicCode
      title: UnlockedCapsuleResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
